/* Eliminate padding to show background color for whole site*/
body {
    padding: 0px;
    margin: 0px;
    background-color: rgba(207, 234, 253);
    font-family: 'trebuchet MS', arial, sans-serif;
}

/*Show purper to same blue gradient for top section*/
#top {
    background: linear-gradient(to bottom, rgb(64, 14, 87), rgb(207, 234, 253));
    color: white;
    padding:15px;
}

h1 {
    font-size: 200%
}

nav {
    line-height: 130%;
}

/*Keep links blue*/
a:visited, a:link {
    color: blue;
}

.content {
    padding: 15px;
    color:rgb(8, 7, 73);
}

/*Add spaace before radio buttons*/
.question{
    line-height: 180%;
}

