
.ipynb_checkpoints/*

.DS_Store
Webapp/table.csv
Webapp/templates/divorce.html
Webapp/templates/household.html
Webapp/templates/marriage.html
Webapp/templates/children.html
Webapp/templates/multigen.html
Webapp/__pycache__/app.cpython-38.pyc
