<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<section id="top">
    <title>{% block title %}{% endblock %} - Family Demographics</title>
    <h1>Family Demographics</h1>
    <div id="blurb">
        <p>
            The data displayed on this web app is based on the US Census's American Community Survey 5-year estimates, 
            which is an ongoing survey that provides annual estimates based on data collected over 5-year periods. 
            Using multiyear estimates allows for increased statistical reliability of data, particularly for regions and subgroups that have smaller populations. 
        </p>
    </div>
    <nav>
        <ul>
            <li><a href="{{ url_for('view') }}">View California Marriage Visualization</a></li>
            <li><a href="{{ url_for('submit') }}">Request a Visualization</a></li>
            <li><a href="{{ url_for('find') }}">Request a Table to Download</a></li>
        </ul>
    </nav>
</section>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>