<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Family demographics</title>
<nav>
    <h1>Family demographics</h1>
    <ul>
        <li><a href="{{ url_for('submit') }}">Request a Visualization</a></li>
        <li><a href="{{ url_for('view') }}">View California Marriage Visualization</a></li>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
</section>