{% extends 'basic.html' %}

{% block header %}
  <h2>{% block title %}Request a Table to Download{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <fieldset>
      <label for="topic">Which topic do you want to look for?</label>
      <input name="topic" id="topic" required>
      
    </fieldset>
    <fieldset>
        For which year?
        <br>
        {% for y in years %}
            <input type="radio" name="year" id="{{y}}" value="{{y}}" required/>
            <label for="{{y}}">{{y}}</label> <br>
        {% endfor %}
      
    </fieldset>
    <fieldset>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
    </fieldset>

  </form>

{% endblock %}