{% extends 'basic.html' %}

{% block header %}
  <h2>{% block title %}Request a Visualization{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <fieldset>
      <p>
        Which table do you want to look at?
      </p>
      <input type="radio" name="table" id="marriage" value="marriage" />
      <label for="marriage">Median Age At First Marriage</label> <br>
      <input type="radio" name="table" id="household" value="household" />
      <label for="household">Household Type</label> <br>
      <input type="radio" name="table" id="divorce" value="divorce" />
      <label for="divorce">Divorces in the Last Year</label> 
    </fieldset>
    <fieldset>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
    </fieldset>
  </form>

{% if table == "median" %}
  <p>median</p>
{% endif %}

{% if table == "household" %}
  <p>household</p>
{% endif %}

{% if table == "divorce" %}
  <p>divorce</p>
{% endif %}

{% endblock %}