{% extends 'basic.html' %}

{% block header %}
  <h2>{% block title %}Request a Visualization{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <fieldset>
      <p>
        Which data do you want to look at?
      </p>
      <input type="radio" name="table" id="marriage" value="marriage" />
      <label for="marriage">Median Age At First Marriage</label> <br>
      <input type="radio" name="table" id="household" value="household" />
      <label for="household">Household Type</label> <br>
      <input type="radio" name="table" id="divorce" value="divorce" />
      <label for="divorce">Divorces in the Last Year</label> <br>
      <input type="radio" name="table" id="multigen" value="multigen" />
      <label for="multigen">Multigenerational Households</label> <br>
      <input type="radio" name="table" id="children" value="children" />
      <label for="children">Own Children Under 18</label>  <br>
    </fieldset>
    <fieldset>
      <label for="state">For which state?</label>
      <select name="state" id="state">
      {% for state in states %}
   <!-- <input type="radio" name="state" id="{{state}}" value="{{state}}" />
        <label for="{{state}}">{{state}}</label> <br> -->
        <option value="{{state}}">{{state}}</option>
      {% endfor %}
      </select>
    </fieldset>
    <fieldset>
      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
    </fieldset>

  </form>

{% endblock %}