{% extends 'basic.html' %}

{% block header %}
  <h2>{% block title %}Request a Table to Download{% endblock %}</h2>
  <h3>Your table is ready!</h3>
{% endblock %}

{% block content %}
<p>
  <b>New:</b> If you want to see this table in other years, click
  <a href="{{ url_for('other')}}"> here</a>. <br>
  Note: It may take up to 30 seconds to load, as it searches for and gathers the data.
</p>
<p>
  You can download the CSV file
  <a href="{{ url_for('getCSV', file_name='table.csv')}}">here</a>
  <!--a href="{{ url_for('getCSV', file_name='table.csv') }}">here</a--> for:
</p>
<p>
  {{name}}
</p>
<br>
<section>
  Here is the structure of the table:
  {{display | safe }}
</section>
<br>
<section>
  And these will be the column names in the csv:
  {{even | safe}}
</section>

{% endblock %}